<div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h1>Réinitialiser mot de passe</h1>

      <div class="alert alert-danger" *ngIf="initialized && !key">
        <strong>La clé de réinitialisation du mot de passe est manquante.</strong>
      </div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span> choisissez un mot de passe</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span
          >Votre mot de passe n’a pas pu être réinitialisé. N’oubliez pas qu’une demande de mot de passe n’est valide que pendant 24
          heures.</span
        >
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Votre mot de passe a été réinitialisé.</strong> s'il vous plaît </span>
        <a class="alert-link" routerLink="/login">s'enregistrer</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Le mot de passe et sa confirmation ne correspondent pas !</div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="form-group">
            <label class="form-control-label" for="newPassword">Nouveau mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="New password"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                Votre mot de passe est requis.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                Votre mot de passe doit contenir au moins 4 caractères.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                Votre mot de passe ne peut pas dépasser 50 caractères.
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="confirmPassword">Confirmation du nouveau mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirm the new password"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                Votre confirmation de mot de passe est requise.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                Votre confirmation de mot de passe doit contenir au moins 4 caractères.
              </small>

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                Votre confirmation de mot de passe ne peut pas dépasser 50 caractères.
              </small>
            </div>
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">
            Réinitialiser Mot de Passe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
