<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="fr">
  <head>
    <title th:text="#{email.activation.title}">Activation prospectus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.activation.greeting(${user.login})}">Cher</p>
    <p th:text="#{email.activation.text1}">Votre compte prospectus a été créer avec succes, clique sur le lien pour l'activer:</p>
    <p>
      <a th:with="url=(@{|${baseUrl}/account/activate?key=${user.activationKey}|})" th:href="${url}" th:text="${url}">Lien d'activation</a>
    </p>
    <p>
      <span th:text="#{email.activation.text2}">Regards, </span>
      <br />
      <em th:text="#{email.signature}">Prospectus.</em>
    </p>
  </body>
</html>
