<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4">Bienvenue sur prospectus!</h1>

    <p class="lead">Ceci est la page d'acceuil</p>

    <div [ngSwitch]="isAuthenticated()">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">Vous êtes connecté en tant qu’utilisateur "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <a class="alert-link" (click)="login()">Se connecter</a
        ><span>
          <br />
          -Administrateur (login="admin" and password="admin") <br />- Utilisateur (login="user" and password="user").
        </span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Vous n'avez pas de compte?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Creer un nouveau compte</a>
      </div>
    </div>
  </div>
</div>
