<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Réinitialiser votre mot de passe</h1>

      <jhi-alert-error></jhi-alert-error>

      <div class="alert alert-warning" *ngIf="!success">
        <span>Entrez l’adresse courriel que vous avez utilisée pour vous inscrire.</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span>Vérifiez vos courriels pour savoir comment réinitialiser votre mot de passe.</span>
      </div>

      <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
        <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Your email"
            formControlName="email"
            data-cy="emailResetPassword"
            #email
          />

          <div
            *ngIf="
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.required">
              Votre courriel est requis.
            </small>

            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.email"> Votre courriel est invalide. </small>

            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.minlength">
              Votre courriel doit contenir au moins 5 caractères.
            </small>

            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.maxlength">
              Votre email ne peut pas dépasser 100 caractères.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary" data-cy="submit">Réinitialisation</button>
      </form>
    </div>
  </div>
</div>
